In [2]:
import pandas as pd

C:\Users\micha\miniconda3\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
C:\Users\micha\miniconda3\lib\site-packages\numpy\.libs\libopenblas.WCDJNK7YVMPZQ2ME2ZZHJJRJ3JIKNDB7.gfortran-win_amd64.dll
C:\Users\micha\miniconda3\lib\site-packages\numpy\.libs\libopenblas.XWYDX2IKJW2NMTWSFYNGFUWKQU3LYTCZ.gfortran-win_amd64.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [11]:
# Load data
command_df = pd.read_csv('sample_transcriptions/122021_processed.csv')
track_df = pd.read_csv('flight_data/12-20-21/12-20-21.csv')

In [15]:
command_df

,id,Time,Transcriptions,Length,altitude,heading,speed,contact,clearance,callsign,callsign_matched
0,0BD65F98-25BE-4544-A6CC-5EBBA62B217F,1635810863,AMERICAN 919 HEADING 150 JOIN YOUR FINAL CLEAR...,75,NaN,150,NaN,False,True,AAL919,NaN
1,9F07AD14-3778-4655-BBAE-F6ABECD6D175,1635865001,RIGHT 23000 ENVOY,22,Possibly Missing KW,Missing ST,NaN,False,False,NaN,NaN
2,C1CD9F24-83D8-464B-8ACC-6BAF0E74FFE5,1635865101,340 JOIN THE FINAL FOR 6206,27,NaN,NaN,NaN,False,False,NaN,NaN
3,298DB293-6443-43A6-9F3F-7F6C8676985B,1635865140,TOWER 2415 ENVOY 3660,21,NaN,NaN,NaN,True,False,ENY3660,NaN
4,48EA7EF4-6A03-4D25-9D74-B86A2D44E9BB,1635865164,LEFT 220 JOIN FINAL FOR 6,25,NaN,220,NaN,False,False,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1170,39903A8B-B39D-4B2B-A105-B0F866BBCBCE,1640072039,902 TURN 20 DEGREES RIGHT LEFT TURN TO FINAL,44,NaN,20turn,NaN,False,False,NaN,NaN
1171,1975A9EF-2CC1-4D41-AC4F-BF57E4B722F3,1640072151,JET 776 HEAVY DESCEND AND MAINTAIN 3000,39,3000,NaN,NaN,False,False,NaN,NaN
1172,16B173B0-738E-4D0D-8EC7-72F8E6D0919D,1640072176,776 HEAVY CLEARED VISUAL APPROACH RUNWAY 18L,44,NaN,NaN,NaN,False,True,NaN,NaN
1173,405580FB-6767-4B76-A600-BB8CBB32097B,1640072229,UNITED 2059 DESCEND AND MAINTAIN 6000,37,6000,NaN,NaN,False,False,NaN,NaN
1174,90EE9380-5912-426F-B1BD-E24AB25A890B,1640072280,UNITED 2059 REDUCE SPEED TO LEFT,38,NaN,Missing ST,Missing ST,False,False,NaN,NaN

In [14]:
track_df

,icao24,callsign,origin_country,time_position,last_contact,longitude,latitude,baro_altitude,on_ground,velocity,heading,vertical_rate,sensors,geo_altitude,squawk,spi,position_source,fetch_time
0,a52bd9,N432PH,United States,1640052678,1640052686,-96.7324,32.5772,365.76,False,36.01,0.00,-3.25,NaN,419.10,NaN,False,0,1640052696
1,aaef60,AAL2804,United States,1640052696,1640052696,-95.6924,34.9270,11269.98,False,238.35,43.51,-0.33,NaN,11452.86,2363.0,False,0,1640052696
2,aa56b8,UAL473,United States,1640052696,1640052696,-99.3097,31.4081,8610.60,False,239.60,156.46,-5.20,NaN,8808.72,3757.0,False,0,1640052696
3,a798b9,LBQ611,United States,1640052693,1640052695,-96.8423,31.7814,5654.04,False,125.63,177.65,5.20,NaN,5760.72,NaN,False,0,1640052696
4,a94b4b,UAL2132,United States,1640052695,1640052695,-96.2975,31.1695,8572.50,False,262.55,152.33,-13.66,NaN,8717.28,6365.0,False,0,1640052696
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15172,acca85,NKS735,United States,1640070678,1640070678,-98.0666,34.8596,10988.04,False,221.75,273.99,0.00,NaN,11186.16,2606.0,False,0,1640070679
15173,0c20b9,CMP477,Panama,1640070679,1640070679,-94.9938,31.5203,10668.00,False,249.69,146.34,0.00,NaN,10858.50,1455.0,False,0,1640070679
15174,a134e8,N177TS,United States,1640070613,1640070677,-97.9632,33.3698,883.92,False,57.11,89.48,-0.65,NaN,906.78,NaN,False,0,1640070679
15175,a0293f,EMD65,United States,1640070678,1640070679,-97.1003,32.6871,274.32,False,56.96,159.93,-4.88,NaN,297.18,NaN,False,0,1640070679
15176,a72c37,N561SF,United States,1640070679,1640070679,-98.2685,35.1348,792.48,False,61.43,243.65,0.00,NaN,830.58,NaN,False,0,1640070679

In [83]:
# Create function which processes altitude
# Input: track data frame for callsign, time
# Output: time it takes to reach altitude w/ tolearnce (NA if never reached)

def change_altitude_time(df_track, input_row, tolerance=100):
    filtered_track = df_track[df_track['time_position']>input_row['Time']]
    print(input_row['altitude'])
    for index, row in filtered_track.iterrows():
        print(row['baro_altitude'])
        if (int(row['baro_altitude'])/.3 > int(input_row['altitude']) - tolerance) and (int(row['altitude']) < input_row['baro_altitude']/.3 + tolerance):
            return row['time_position']-input_row['Time']
    return 'Not Reached'

In [1]:
# Create function which processes heading
# Input: track data frame for callsign, time
# Output: time it takes to reach heading (NA if never reached)

# NOTE: this only accounts for change heading commands and doesn't account for anything 

def change_heading_time(df_track, input_row, tolerance=10):
    filtered_track = df_track[df_track['time_position']>input_row['Time']]
    print(input_row['heading'])
    for index, row in filtered_track.iterrows():
        print(row['heading'])
        if (int(row['heading']) > int(input_row['heading']) - tolerance) and (int(row['heading']) < input_row['heading'] + tolerance):
            return row['time_position']-input_row['Time']
    return 'Not Reached'

In [2]:
# Create function which processes speed
# Input: track data frame for callsign, time
# Output: time it takes to reach speed w/ tolerance (NA if never reached)

def change_speed_time(df_track, input_row, tolerance=10):
    filtered_track = df_track[df_track['time_position']>input_row['Time']]
    print(input_row['speed'])
    for index, row in filtered_track.iterrows():
        if (int(row['velocity']) > int(input_row['speed']) - tolerance) and (int(row['velocity']) < input_row['speed'] + tolerance):
            return row['time_position']-input_row['Time']
    return 'Not Reached'

In [68]:
# Create a function which takes in callsign and creates a DF of commands.
# Maybe filter for those w/ more than one command???
# Create a new dataframe of track data for that callsign 
# Loop through command DF starting from the top
# If find any alt, heading, or speed command, call respective function

def data_extractor(callsign):
    # Create a new data frame of commands for a callsign
    df_commands = command_df[command_df['callsign'] == callsign]
    # Create a new dataframe of track data for that callsign 
    df_track = track_df[track_df['callsign'].str.contains(callsign, na=False)]
    # Loop through command DF starting from the top
    for index, row in df_commands.iterrows():
        # If find any alt, heading, or speed command, call respective function
        try:
            int(row['altitude'])
            change_altitude_time(df_track, row)
        except:
            print('No command found')
        try:
            int(row['heading'])
            change_heading_time(df_track, row)
        except:
            print('No command found')
        try:
            int(row['speed'])
            change_speed_time(df_track, row)
        except:
            print('No command found')

In [84]:

data_extractor('ENY3980')

nan
No command found
2000
2000
icao24                    a7f27a
callsign                ENY3980
origin_country     United States
time_position         1640055199
last_contact          1640055199
longitude               -97.0546
latitude                 32.9298
baro_altitude             205.74
on_ground                  False
velocity                   69.97
heading                   180.42
vertical_rate              -2.93
sensors                      NaN
geo_altitude              259.08
squawk                    5204.0
spi                        False
position_source                0
fetch_time            1640055199
Name: 3699, dtype: object
205.74
icao24                    a7f27a
callsign                ENY3980
origin_country     United States
time_position         1640055205
last_contact          1640055262
longitude               -97.0546
latitude                  32.926
baro_altitude            37642.8
on_ground                  False
velocity                   70.48
heading                   180.42
vertical_rate              -4.23
sensors                      NaN
geo_altitude              243.84
squawk                    5204.0
spi                        False
position_source                0
fetch_time            1640055307
Name: 3852, dtype: object
37642.8
No command found
Possibly Missing KW
No command found
3000
3000
nan
No command found

In [ ]:
# Loop through everything to process this